<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <base href="/">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
  <title>FingerprintApp - TATA CONSULTANCY SERVICES</title>

<meta name="author" content="TATA CONSULTANCY SERVICES">
<meta name="description" content="fingerprint app innovation labs">
<meta name="keywords" content="fingerprint, app, innovation, labs">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
  <main>
     <div class="container">
        <div class="heading">
          <h1>Fingerprint App</h1>
          <h2>Register</h2>
        </div>
      <fieldset>
        <legend>Register</legend>
        <form method="post">
          <label for="username">Name</label>
          <input type="text" name="username" placeholder="Enter your full name" aria-required="true" required autofocus>
      
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Enter new password" aria-required="true" required>
          
          <label for="address">Address</label>
          <textarea name="address" placeholder="Enter your address" aria-required="true" required rows="10"></textarea>
      
          <label for="phone">Phone number</label>
          <input type="number" name="phone" placeholder="Enter new phone" aria-required="true" required/>
          <button type="submit">Register</button>
          <button class="secondary">login</button>
        </form>
      </fieldset>
    </div>
  </main>
  
  
<!-- Vendor scripts -->
<!--      <script src="bower_components/angular/angular.js"></script>-->
<!--      <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>-->
<!--      <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>-->
<!--      <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>-->
<!--      <script src="bower_components/angular-cookies/angular-cookies.js"></script>-->

     <!-- Public Scripts -->
<!--    <script src="js/app.js"></script>-->
<!--    <script src="js/route_config.js"></script>-->

<!--    <script src="js/controllers/Home.Ctrl.js"></script>-->
<!--    <script src="js/controllers/Login.Ctrl.js"></script>-->
<!--    <script src="js/controllers/register.Ctrl.js"></script>-->
    
<!--    <script src="js/services/auth.srvc.js"></script>-->
</body>

</html>